/* index.ejs */
.indexBody {
    background-color: #85aa9b;
    color: #3A414A;
    text-align: center;
}
.resultItem {
    border: solid 2px;
    padding: 10px;
}
li {
    border: solid 2px;
    padding: 10px;
}
ul {
    list-style-type: none;
}
.newBody {
    background-color: #85aa9b;
    color: #3A414A;
    text-align: center;
}
a {
    color: #3A414A;
    text-decoration: none;
}
#recipe-img {
    border: solid 2px black;
    width: 500px;
    height: 500px;
    margin: auto;
    background-size: contain;
}
.RecipeForm {
    border: solid 2px black;
    width: 800px;
    height: 800px;
    margin: auto;
}
#ingredients {
    max-width: 300px;
    min-width: 150px;
    max-height: 500px;
    min-height: 17px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.recipe-img {
    width: 500px;
    height: auto;
}
.dash {
    border: solid 2px black;
    margin: 10px;
    background: white;
}
.showBody {
    text-align: center;
    background-color: #85aa9b;
}
.recipeShow {
    border: solid 2px black;
    margin: 10px;
    height: auto;
    width: auto;
    padding: 10px;
}
.bg-body-tertiary {
    background-color: #85aa9b;
}
.navbar {
    --bs-navbar-color: #19392b;
    --bs-navbar-active-color: #d0ded8;
}
#likebtn{
    background-color: #588b76;
    color: #ffffff;
    border: solid 2px #ffffff;
}
.RecipeEditForm {
    border: solid 2px #18392b;
    margin: 10px;
    padding: 10px;
}