<!DOCTYPE html>
<html>
<head>Chirp Chef</title>
	<style>
		
	</style>
</head>
<body>
	<nav>
		<h1></h1>
		<ul>
			<li><a href="/">Home</a></li>
		</ul>
	</nav>
		<div class="buttons">
			<a href="/login"><button>Login</button></a>
			<a href="/signup"><button>Signup</button></a>
            <a href="/new-post"><button>New Chirp</button></a>
		</div>
		<footer>
			
		</footer>
	</body>
	</html>