<!DOCTYPE html>
<html>
<head>Chirp Chef</title>
	<style>
		
	</style>
</head>
<body>
	<nav>
		<h1></h1>
		<ul>
			<li><a href="/">Home</a></li>
		</ul>
	</nav>
    <div class="container">
		<div class="box">
			<h2>Post A New Chirp</h2>
			<label for="Recipe Name">Recipe Name:</label>
                <input type="text" id="recipe-name" name="Recipe Name"><br><br>
                <label for="Ingredients">Ingredients</label>
                <input type="text" id="ingredients" name="ingredients"><br><br>
                <label for="Instructions">Instructions</label>
                <input type="text" id="Instructions" name="instructions"><br><br>
		</div>
		<div class="buttons">
			<button>Post</button>
			<button>Delete</button>
		</div>
		<footer>
			
		</footer>
	</body>
	</html>