<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h2>MAKE A RECIPE👩🏽‍🍳🍳</h2>
    <form class="RecipeForm">

      <label for="recipe-name" >RECIPE Name</label>
        <input name="recipe-name" id="search" placeholder="my thing" />

      <label for="searchbar">SEARCH FOR RECIPE IMAGE</label>
        <input name="searchbar" id="searchbar" placeholder="tacos" />
      
        <button onclick="submitRecipe(event)" type="button">SEARCH</button>


        <ul id="searchResultsList">
          empty
        </ul>

      </form>

      <script>
        const searchBar = document.getElementById('searchbar'); //<---grabbing the searchbar and assigning it to an acceiible variable
        let searchTerm = "";
        let searchResults = [];

        function submitRecipe(event){
          event.preventDefault();
          console.log("SUBMIT IS LINkED UP")
          //---grabbing user input
          console.log(searchBar.value)
          searchTerm = searchBar.value; // <---user's search term to create an api call with

          //---making api call
          const searchUrl = `https://www.themealdb.com/api/json/v1/1/search.php?s=${searchBar.value}`
          fetch(searchUrl)
          .then(results => {
            results.json().then(res => {
              searchResults = res.meals;
              listResults()
            });
          })

        }




        function listResults() {
          console.log(searchResults);
          const listContainer = document.getElementById('searchResultsList'); // <--- grabbing the ul  
          searchResults.forEach(res => {
            const imgItem = document.createElement('li');
            console.log(res.strMealThumb.split('/'));
            let urlArray = res.strMealThumb.split('/');
            console.log(urlArray[urlArray.length-1])
            let imageId = urlArray[urlArray.length-1];
            imgItem.innerHTML = `<img src="https://www.themealdb.com//images//media//meals//${imageId}"> <p>${res.strMeal}</p>`;
            listContainer.append(imgItem);
          })
        }

        

     </script>
</body>
</html>