<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Post A Chirp</title>
</head>
<body class = "newBody">
  <h2>MAKE A RECIPE👩🏽‍🍳🍳</h2>
  <nav>
		<h1></h1>
		<ul>
			<li><a href="./">Home</a></li>
		</ul>
	</nav>
    <form class="RecipeForm" action="/recipes" method="POST">

      <label for="recipe-name" >Recipe Name:</label>
        <input name="recipe-name" id="formTitle" placeholder="my thing" />
        <input  name="imgUrl" id="imgUrl"/>

      <label for="searchbar">Search For Recipe Image:</label>
        <input name="searchbar" id="searchbar" placeholder="tacos" />
        <button onclick="submitRecipe(event)" type="button">Search</button>

      <label for="Ingredients">Ingredients:</label>
       <textarea type="text" id="ingredients" name="ingredients"></textarea>
      <label for="Instructions">Instructions:</label>
        <input type="text" id="Instructions" name="instructions">
        <div id="recipe-img"></div>

        <button type="button">Post!</button>
        <button type="button">Delete</button>


        <ul id="searchResultsList">
          
        </ul>
        
      </form>
      
      <script>

        const searchBar = document.getElementById('searchbar'); //<---grabbing the searchbar and assigning it to an acceiible variable
        let searchTerm = "";
        let searchResults = [];
        

        function submitRecipe(event){
          event.preventDefault();
          console.log("SUBMIT IS LINkED UP")
          //---grabbing user input
          console.log(searchBar.value)
          searchTerm = searchBar.value; // <---user's search term to create an api call with

          //---making api call
          const searchUrl = `https://www.themealdb.com/api/json/v1/1/search.php?s=${searchBar.value}`
          fetch(searchUrl)
          .then(results => {
            results.json().then(res => {
              searchResults = res.meals;
              listResults()
            });
          })

        }




        function listResults() {
          console.log(searchResults);
          const listContainer = document.getElementById('searchResultsList'); // <--- grabbing the ul  
          const formContainer = document.getElementById('formTitle'); // <--- grabbing the   
          const imgContainer = document.getElementById('recipe-img');
          const imgUrl = document.getElementById('imgUrl')
          searchResults.forEach(res => {
            const imgItem = document.createElement('li');
            imgItem.setAttribute("class", "resultItem");

            imgItem.onclick = function (event) {
              console.log("onclick activated")
              console.log(event.currentTarget.firstChild.innerText);
              formContainer.value = event.currentTarget.firstChild.innerText;
              console.log(event.currentTarget.children[1].src);
              console.log(imgUrl)
              imgContainer.style.backgroundImage = `url("${event.currentTarget.children[1].src}")`;
              imgUrl.value = event.currentTarget.children[1].src
              // imgUrl.value = 'hi'
              listContainer.innerHTML = ""

            }; //end of on click

            console.log(res.strMealThumb.split('/'));
            let urlArray = res.strMealThumb.split('/');
            console.log(urlArray[urlArray.length-1])
            let imageId = urlArray[urlArray.length-1];
            imgItem.innerHTML = `<h3>${res.strMeal}</h3> <img src="https://www.themealdb.com//images//media//meals//${imageId}">`;
            listContainer.append(imgItem);
          })
        }

        

     </script>
</body>
</html>